      </div><!-- /.row -->

    </div><!-- /.container -->
    <div class="blog-footer">
      <p>© 2014. All rights reserved. Based on the <a href="http://getbootstrap.com">Bootstrap</a> blog <a href="http://getbootstrap.com/examples/blog/">template</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>

